$color-shark: #232526;
$color-abbey: #414345;
$color-white: #ffffff;
$color-flamingo: #f25c21;
$color-seance: #731e8f;
$color-falu-red: #801818;

$menu-colors: (
    menu-color-1: #F42E2D ,
    menu-color-2: #28BDFF ,
    menu-color-3: #FF2070 ,
    menu-color-4: #307733 ,
    menu-color-5: #FF5A04 ,
    menu-color-6: #1B138D ,
    menu-color-7: #FFFF59 ,
    menu-color-8: #E1511C ,
    menu-color-9: #5E5050 ,
    menu-color-10: #EC363F ,
    menu-color-11: #FFB621 ,
    menu-color-12: #692E98 
);