$color-shark: #232526;
$color-abbey: #414345;
$color-white: #ffffff;
$color-flamingo: #f25c21;
$color-seance: #731e8f;
$color-falu-red: #801818;
$color-gable-green: #102027;
$color-blue-stone: #005662;

$menu-colors: (
    menu-color-1: #A3218E ,
    menu-color-2: #72BE44 ,
    menu-color-3: #0465B2 ,
    menu-color-4: #F58225 ,
    menu-color-5: #EE1C25 ,
    menu-color-6: #827717 ,
    menu-color-7: #b4004e ,
    menu-color-8: #592F93 ,
    menu-color-9: #800000 ,
    menu-color-10: #CD5C5C ,
    menu-color-11: #21409A ,
    menu-color-12: #005662 
);