$item-width : 25vmin;
$total-quotes: 10;
$total-pages: 12;

%menu__item {
  position: relative;
  border-radius: 0.2rem;
  transition: 0.75s;
  display: flex;
  padding-bottom: 5px;
  align-items: center;
  justify-content: center;
}

$icomoon-font-path: "../font" !default;

$live-the-life-home: "\e900";
$live-the-life-camera: "\e90f";
$live-the-life-headphones: "\e910";
$live-the-life-pacman: "\e916";
$live-the-life-book: "\e91f";
$live-the-life-alarm: "\e950";
$live-the-life-aid-kit: "\e998";
$live-the-life-leaf: "\e9a4";
$live-the-life-airplane: "\e9af";
$live-the-life-menu: "\e9bd";
$live-the-life-heart: "\e9da";
$live-the-life-happy: "\e9df";
$live-the-life-onedrive: "\eaaf";