/* ------------- Responsive Web Design ------------------- */

@media (min-width: 768px) and (max-width: 1195px) {

  .menu {
    margin-right: -8% !important;
  }

  .menu__link {
    width: 80% !important;
    height: 80% !important;
    border: 0.2rem solid $color-white !important;
    font-size: 4rem !important;
  }

  .menu__back__button {
    border: 0.2rem solid $color-white !important;
  }

  .menu__item {
    width: 22vmin !important;
    height: 22vmin !important;
    margin: 0 !important;
  }

  .menu__item:before {
    top: 82% !important;
  }

}

@media (min-width: 481px) and (max-width: 767px) {

  h1 {
    font-size: 3rem !important;
    margin-top: 80px !important;
  }

  h2 {
    font-size: 1.5rem !important;
  }

  .menu {
    margin-right: -5% !important;
  }

  .menu__link {
    width: 80% !important;
    height: 80% !important;
    border: 0.2rem solid $color-white !important;
    font-size: 3rem !important;
  }

  .menu__back__button {
    border: 0.2rem solid $color-white !important;
  }

  .menu__item {
    width: 24vmin !important;
    height: 24vmin !important;
    margin: 0 !important;
  }

  .menu__item:before {
    top: 82% !important;
  }
}

@media (min-width: 1px) and (max-width: 480px)  {

  h1 {
    font-size: 3rem !important;
    margin-top: 80px !important;
  }

  h2 {
    font-size: 1.5rem !important;
  }

  .menu__link {
    font-size: 3rem !important;
    border: 0.2rem solid $color-white !important;
  }

  .menu__back__button {
    width: 6rem !important;
    border: 0.2rem solid $color-white !important;
    height: 6rem !important;
    bottom: 10vw !important;
  }

  .menu__item:before {
    font-size: 1.5rem !important;
  }
}