@font-face {
  font-family: 'live-the-life';
  src:  url('fonts/live-the-life.eot?jtx80h');
  src:  url('fonts/live-the-life.eot?jtx80h#iefix') format('embedded-opentype'),
    url('fonts/live-the-life.ttf?jtx80h') format('truetype'),
    url('fonts/live-the-life.woff?jtx80h') format('woff'),
    url('fonts/live-the-life.svg?jtx80h#live-the-life') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="live-the-life-"], [class*=" live-the-life-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'live-the-life' !important;
  // speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.live-the-life-home:before {
  content: "\e900";
}
.live-the-life-camera:before {
  content: "\e90f";
}
.live-the-life-headphones:before {
  content: "\e910";
}
.live-the-life-pacman:before {
  content: "\e916";
}
.live-the-life-book:before {
  content: "\e91f";
}
.live-the-life-alarm:before {
  content: "\e950";
}
.live-the-life-aid-kit:before {
  content: "\e998";
}
.live-the-life-leaf:before {
  content: "\e9a4";
}
.live-the-life-airplane:before {
  content: "\e9af";
}
.live-the-life-heart:before {
  content: "\e9da";
}
.live-the-life-happy:before {
  content: "\e9df";
}
.live-the-life-onedrive:before {
  content: "\eaaf";
}